/* -------------------------------- 

Fonts

-------------------------------- */

@font-face {
	font-family:"CharlevoixPro-Black";
	src: url(../css/fonts/CharlevoixPro-FullFamily-Free/CharlevoixPro-Black.otf);
}

@font-face {
	font-family:"CharlevoixPro-Bold";
	src: url(../css/fonts/CharlevoixPro-FullFamily-Free/CharlevoixPro-Bold.otf);
}

@font-face {
	font-family:"CharlevoixPro-ExtraBold";
	src: url(../css/fonts/CharlevoixPro-FullFamily-Free/CharlevoixPro-ExtraBold.otf);
}

@font-face {
	font-family:"CharlevoixPro-Light";
	src: url(../css/fonts/CharlevoixPro-FullFamily-Free/CharlevoixPro-Light.otf);
}

@font-face {
	font-family:"CharlevoixPro-Medium";
	src: url(../css/fonts/CharlevoixPro-FullFamily-Free/CharlevoixPro-Medium.otf);
}

@font-face {
	font-family:"CharlevoixPro-Regular";
	src: url(../css/fonts/CharlevoixPro-FullFamily-Free/CharlevoixPro-Regular.otf);
}

@font-face {
	font-family:"CharlevoixPro-Thin";
	src: url(../css/fonts/CharlevoixPro-FullFamily-Free/CharlevoixPro-Thin.otf);
}

@font-face {
	font-family:"Alcubierre";
	src: url(../css/fonts/Alcubierre/Alcubierre.otf);
}


/* -------------------------------- 

Primary style

-------------------------------- */
/* Colour Codes:
Light Blue: rgb(0, 74, 193)
Burgandy: rgb(102, 9, 23)
Light Burgandy: rgb(168, 100, 111)

*/


::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
}

::selection {
    color: white; 
    background: #DADFE1;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'CharlevoixPro-Light';
  font-weight: 300;
  color: rgba(2, 23, 37, 0.7);
  background-color: white;
}
body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* Anchor to position screen correctly for links */
a.anchor {
	display: block;
	position: relative;
	top: -150px;
	visibility: hidden;
}

i {
    font-style: italic;
}

b {
	font-family:'CharlevoixPro-Medium';
}
p {
	font-size: 110%;
}
h1 {
	font-size: 3rem;
	font-weight: 700;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 0.9rem;
	color: rgb(0, 74, 193);
	margin-bottom: 1rem;
	text-transform: uppercase;
}

h4 {
	font-size: 0.9rem;
	color: rgb(0, 74, 193);
	margin-bottom: 1rem;
}

h5 {
	font-size: 0.8rem;
}

h6 {
	font-size: 0.7rem;
}

li {
	margin-bottom: 0.3rem;
}





/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
html, body {
  height: 100%;
}

/*---------------------------------------

NAVIGATION BAR 

-----------------------------------------*/
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 82px;
	z-index: 2;
	background-color: rgba(0,0,0,0.35);
	text-align: center;
	color: white;
	transition: background-color 200ms linear;
	padding-left: 19px; /* Adjust to center logo in the middle of the screen */
}

.navbar .scrolled {
	background-color: white;
	color: black;
	height: 82px;
	border-bottom-width: 2px;
	border-bottom-color: rgb(2, 23, 37);
	border-bottom-style: double;
	transition: background-color 200ms linear;
}

.navbar a {
	height: 100%;
	line-height: 80px;
	display: inline-block;
	vertical-align: top;
	color: inherit;
	font-size: 1.5rem;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar h1{
	font-size: 2.5rem; 
	font-family: 'CharlevoixPro-Medium'; 
	padding-left: 25px;
	padding-right: 25px;
}

.navbar .icon {
	display: none;
}

/* Compress navbar to logo and nav icon for small screens */
@media (max-width:1000px) {
	.navbar {
		height: 60px;
	}
	
	.navbar a {
		float: left;
		line-height: 60px;
	}
	
	.navbar h1{
    	padding-left: 0;
    	padding-right: 0;
    }
	
	.navbar .icon {
		float: right;
		display: inline-block;
	}
	.navbar a:not(:nth-child(3n)) {
		display: none;
	}
	
	.navbar.scrolled {
		height: 62px;
		border-bottom-width: 2px;

	}
}

/* Display nav items vertically on small screens */
@media (max-width:1000px) {
	.navbarresponsive {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
		background-color: gray;
		text-align: center;
		color: black;
		transition: background-color 200ms linear;
	}
	
	.navbarresponsive .icon {
		position: fixed;
		right: 10px;
		top: -12px;
	}
	
	.navbarresponsive a {
		float: none;
		display: block;
		text-align: center;
		font-size: 1.5rem;
		line-height: 80px;
		color: white;
	}
	
	.navbarresponsive a:nth-child(3) {
		display: none;
	}
	
}

.cd-main-content {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
.cd-main-content p {
  line-height: 1.5;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.cd-main-content-about p {
  font-size: 1.2em;
  line-height: 1.6;
  text-align: center;
  padding-bottom: 8em;
  padding-top: 4em;
}
@media only screen and (min-width: 1170px) {
  .cd-main-content p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.cd-container {
	text-align: center;
}


.cd-container h1 {
	font-family: 'CharlevoixPro-Thin';
	font-weight: 700;
}
.cd-container h4 {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 1em;
}

.cd-container-more-about {
	width: 100%;
	max-width: 1280px;
	background-color: #f9f9f9;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
.row {
	margin-top: 0.2rem;
}

.cd-container-button {
	width: 100%;
	margin: auto;
	margin-bottom: 1em;
}


.button-1 {
	font-family: 'CharlevoixPro-Thin';
	padding: 0.8rem;
	font-size: 0.9rem;
	background-color: white;
	border-radius: 1.5rem;
	text-align: center;
	display: inline-block;
	transition: 0.5s;
}

.button-1:hover {
	transition: 0.5s;
	background-color: rgb(0, 74, 193);
	color: rgb(255, 255, 255);
}



.read-more-btn {
	margin: 0 auto;
	width: 15rem;
	border: #000 solid 1px;
	padding: 20px 10px 20px 10px;
	color: rgba(2, 23, 37, 0.7);
}
.read-more-btn:hover {
	border: rgb(212,175,55) solid 1px;
	color: rgb(212,175,55); 
}

.section-border {
	width: 75%;
	height: 2px;
	margin: auto;
	border-bottom: gray solid 2px;
}


/* -------------------------------- 

About Me section

-------------------------------- */
.cd-container-about {
	width: 100%;
	height: 100%;

}


.about-me-bg {
	width: 100%;
	height: 100%;
	
	background-image: url(http://wjsportfolio.ca/img/gatineau-park.jpg);
	
	/* Position and center the screen */
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	overflow: hidden;
}

.cd-container-about-text {
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 70%;
	color: white;
}

@media (max-width:960px) {
	.cd-container-about-text {
		width: 90%;
	}
}


/* -------------------------------- 

Work Experience Section

-------------------------------- */
.cd-container-work {
	width: 100%;
	margin-top: 10rem;
	margin-bottom: 10rem;
}

.cd-container-work-text {
	width: 50%;
	margin: auto;
	background: none;
	text-align: center;
}

.cd-container-work-text h4 {
	margin-bottom: 1rem;
}

.cd-container-work-text h1 {
	margin-bottom: 1rem;
	font-weight: 700;
}

.cd-container-people {
	width: 50%;
	margin: auto;
	background: none;
	text-align: center;
}

.cd-container-people-clmn {
	width: 32%;
	background-color: #f9f9f9;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 2em;
}
.cd-container-people-clmn img {
	width: 100%;
}

.cd-container-people-info {
	text-align: left;
	padding: 1em;
}

.cd-container-people-info h4 {
	width: 100%;
	height: 25px;
	text-align: center;
	margin-bottom: 0.5em;
	font-size: 1rem;

}

.cd-container-people-info h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 0.5em;
}

.cd-container-people-info p {
	width: 100%;
	font-size: 1.2rem;
	margin-bottom: 1em;
	line-height: 1.2;
}
@media (max-width:1600px) {
	.cd-container-work-text {
		width: 65%;
	}
	
	.cd-container-people {
		width: 65%;
	}
}

@media (max-width:1300px) {
	.cd-container-work-text {
		width: 80%;
	}
	
	.cd-container-people {
		width: 80%;
	}
}


@media (max-width:1000px) {
	.cd-container-work-text {
		width: 90%;
	}
	
	.cd-container-people {
		width: 90%;
	}
}

@media (max-width:850px) {
	.cd-container-people-clmn {
		width: 60%;
	}
}

@media (max-width:500px) {
	.cd-container-people-clmn {
		width: 90%;
	}
}

/* -------------------------------- 

Projects Section Style

-------------------------------- */
.cd-container-projects {
	width: 100%;
	margin-top: 10rem;
	margin-bottom: 10rem;
}

.cd-container-projects-text {
	width: 50%;
	margin: auto;
	background: none;
	text-align: center;
}

.cd-container-projects-thumb {
	width: 50%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	position: relative;
}

.cd-container-projects-thumb img {
	width: 100%;
	height: auto;
}

.cd-container-projects-thumb a {
	vertical-align: top;
}


@media (max-width:1600px) {
	.cd-container-projects-text {
		width: 65%
	}
	.cd-container-projects-thumb {
		width: 65%;

	}
}


@media (max-width:1300px) {
	.cd-container-projects-text {
		width: 80%
	}
	
	.cd-container-projects-thumb {
		width: 80%;

	}
}



@media (max-width:1000px) {
	.cd-container-projects-text {
		width: 95%
	}
	
	.cd-container-projects-thumb {
		width: 95%;
	}
}

@media (max-width:850px) {

}

@media (max-width:500px) {

}


/* -------------------------------- 

Contact Section Style

-------------------------------- */

.cd-container-contact {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #f9f9f9;
  padding: 10px;
}

.cd-container-contact-item {
	width: 100%;
	text-align: center;
	margin-bottom: 35px;
	margin-top: 35px;
}

.cd-container-contact-item h3 {
	margin-top: 30px;
	margin-bottom: 15px;
}

.cd-container-contact-item p {
	margin-top: 15px;
	margin-bottom: 30px;
}



/* -------------------------------- 

Work Experience Page Style

-------------------------------- */

.cd-container-work-entry {
	width: 70%;
	text-align: left;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.cd-container-work-entry h1 {
	font-size: 2rem;
	margin-bottom: 0.5em;
}

.cd-container-work-entry h4 {
	font-size: 1.2rem;
	margin-bottom: 0.25em;
}

.cd-container-work-entry p {
	font-size: 1.2rem;
	margin-top: 1em;
	margin-bottom: 1em;
}

.cd-container-work-entry ul {
	list-style-type: circle;
}

.cd-container-work-entry li {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

@media (max-width:1000px) {
	.cd-container-work-entry {
		width: 90%;
		padding-left: 15px;
	}
}


/* -------------------------------- 

Projects Page Style

-------------------------------- */
.cd-container-projects-entry {
	width: 70%;
	text-align: left;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.cd-container-projects-entry-text {
	width: 100%;
	margin: auto;
	background: none;
	text-align: left;
}

.cd-container-projects-banner {
	width: 100%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	position: relative;
}

.cd-container-projects-banner img {
	width: 100%;
	height: auto;
}

.cd-container-projects-entry h1 {
	font-size: 2rem;
	margin-bottom: 0.5em;
}

.cd-container-projects-entry h4 {
	font-size: 1.2rem;
	margin-bottom: 0.25em;
}

.cd-container-projects-entry p {
	font-size: 1.2rem;
	margin-top: 1em;
	margin-bottom: 1em;
}

.cd-container-projects-entry ul {
	list-style-type: circle;
}

.cd-container-projects-entry li {
	font-size: 1.2rem;
}

@media (max-width:1000px) {
	.cd-container-projects-entry {
		width: 90%;
	}
}

.banner-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}

.banner-overlay-text {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.banner-overlay-text h1 {
	font-size: 3rem;
	margin-bottom: 0.5em;
}


@media (max-width:600px) {
	.banner-overlay-text h1 {
		font-size: 2.5rem;
	}
}

@media (max-width:475px) {
	.banner-overlay-text h1 {
		font-size: 2rem;
	}
	
	.cd-container-projects-entry p {
	font-size: 1.0rem;
	}
}

@media (max-width:350px) {
	.banner-overlay-text h1 {
		font-size: 1.5rem;
	}
}


/* -------------------------------- 

Slideshow Style

-------------------------------- */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 70%;
  position: relative;
  margin: auto;
  margin-top: 1rem;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots-container {
  position: relative;
  margin: auto;
  width: 70%;
  height: 100px;
  margin-bottom: 1rem;
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.dot {
  cursor: pointer;
  height: 100%;
  width: 104px;
  display: inline-block;
  transition: opacity 0.6s ease;
  
}

.active, .dot:hover {
	opacity: 0.7;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}




/* -------------------------------- 

Blog Post Style

-------------------------------- */
.cd-intro-blog {
  position: relative;
  background: url(http://31.media.tumblr.com/428371076fae027a25221832ada0a540/tumblr_nau9zqjZay1tubinno1_1280.jpg) no-repeat center center;
  background-size: cover;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-intro-blog h1 {
  position: absolute;
  width: 70%;
  max-width: 1170px;
  left: 50%;
  top: 90%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 50px;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: #2d2d2d;
  letter-spacing: .05em;
  line-height: 1.5em;
}
.cd-container-blog {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #f9f9f9;
  padding: 4rem;
}
.cd-container-blog-post {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  padding: 4rem;
}
.cd-main-content-blog-post {
  position: relative;
  z-index: 1;
}
.cd-main-content-blog-post p {
  line-height: 1.6;
}
.cd-main-content-blog-post-img {
  width: 100%;
  margin: 0 auto;
  right: 0;
  left: 0;
  text-align: center;
}
.cd-main-content-blog-post-img img {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cd-intro-blog-post {
  position: relative;
  height: 100%;
  background: url(http://heydays.no/wp-content/uploads/2013/11/heydays_nora04-1440x900.jpg) no-repeat center center;
  background-size: cover;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-intro-blog-post h1 {
  position: absolute;
  width: 70%;
  max-width: 1170px;
  left: 50%;
  top: 90%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 50px;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: #2d2d2d;
  letter-spacing: .05em;
  line-height: 1.5em;
}
.read-more-btn-normal {
	width: 12rem;
	margin-top: 0rem;
	border: #000 solid 1px;
	padding: 15px 5px 15px 5px;
	color: rgba(2,24,39,0.7);
	text-align: center;
}
.read-more-btn-normal:hover {
	border: rgb(212,175,55) solid 1px;
	color: rgb(212,175,55); 
}
.cd-container-blog-post-clmn-1 {
	width: 65%;
	display: inline-block;
	vertical-align: top;
	margin-right: 5%;
}
.cd-container-blog-post-clmn-1 img {
	width: 100%;
	margin-bottom: 1em;
}
.cd-container-blog-post-description {
	background-color: white;
	padding: 2rem;
	margin: 0;
	margin-bottom: 4em;
}
.cd-container-blog-post-clmn-2 {
	width: 29%;
	display: inline-block;
}
.cd-container-blog-post-clmn-1 h1 {
  font-size: 2em;
  color: #000;
  line-height: 1.6;
  text-align: left;
  margin-bottom: .5em;
}
.cd-container-blog-post-clmn-1 h4 {
  font-size: .9em;
  text-align: left;
  color: rgb(212,175,55);
}
.cd-container-blog-post-clmn-1 p {
  font-family: 'Cardo', serif;
  line-height: 1.6;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 4em;
}
.cd-container-blog-post-clmn-2 h2 {
  font-size: 1.5rem;
  border-bottom: rgb(212,175,55) solid 2px; 
  padding-bottom: 1rem;
}
.cd-container-blog-post-clmn-2 h3 {
  font-size: 1rem;
}
.cd-container-blog-post-clmn-2 a {
  color: rgba(2, 23, 37, 0.7);
}
.cd-container-blog-post-clmn-2 a:hover {
  color: rgb(212,175,55);
}
.load-more-posts-btn {
	margin: 0 auto;
	margin-bottom: 0rem;
	text-align: center;
	width: 15rem;
	border: #000 solid 1px;
	padding: 20px 10px 20px 10px;
	color: rgba(2, 23, 37, 0.7);
}
.load-more-posts-btn:hover {
	border: rgb(212,175,55) solid 1px;
	color: rgb(212,175,55); 
}

@media all and (min-width: 320px) and (max-width: 780px) {
	.cd-container-project {
		padding: 1rem;
	}
	.cd-container-blog {
		padding: 0rem;
	}
	.cd-container-blog-post-clmn-1 {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.cd-container-blog-post-description {
		width: 100%;
		background-color: white;
		padding: 2rem;
		margin: 0;
		margin-bottom: 4em;
	}
	.cd-container-blog-post-content {
		width: 100%;
	}
	.cd-container-project-clmn-2-img {
		width: 100%;
	}
	.cd-container-blog-post-clmn-2 {
		width: 100%;
		padding: 2rem;
	}
	.cd-container-blog-post-clmn-2 a {
		width: 100%;
	}	
}

@media only screen and (min-width: 1170px) {
  .cd-main-content-project p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}


/* -------------------------------- 

Footer Style

-------------------------------- */
.footer {
	width: 100%;
	height: 100px;
	background-color: #EEEEEE;
}
.footer-content {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding-top: 40px;
  padding: 40px 10px 0px 10px
}
.footer-content a {
  color: #6C7A89;
}
.footer-clmn1 {
  width: 50%;
  float: left;
}
.footer-clmn1 a:hover {
  color: rgb(212,175,55);
}
.footer-clmn2 {
  width: 50%;
  float: right;
  text-align: right;
}
.footer-clmn2 a:hover {
  color: rgb(212,175,55);
}

@media all and (min-width: 320px) and (max-width: 780px) {
	.footer-clmn1 {
		width: 100%;
	}
	.footer-clmn2 {
		width: 100%;
		text-align: left;
		margin-top: 1rem;
	}	
}


/* -------------------------------- 

Social Share Style

-------------------------------- */
.share-project {
	width: 100%;
	height: 200px;
	margin: 0 auto;
}
.share-project-content {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}
.share-btn {
	width: 33%;
	display: inline-block;
    vertical-align: top;
}
.facebook-share {
	display: inline-block;
	color: #BDC3C7;
	border: #BDC3C7 solid 1px;
	padding: 20px 60px 20px 54px;
	width: 250px;
	text-transform: uppercase;
	text-align: center;
	background-color: white;
	
    -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: .2s;
       -moz-transition-duration: .2s;
         -o-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
.facebook-share:hover {
	background-color: #3b5998;
	border: #3b5998 solid 1px;
	color: white;
}
.twitter-share {
	display: inline-block;
	color: #BDC3C7;
	border: #BDC3C7 solid 1px;
	padding: 20px 60px 20px 54px;
	width: 250px;
	text-transform: uppercase;
	text-align: center;
	background-color: white;
	
    -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: .2s;
       -moz-transition-duration: .2s;
         -o-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;	
}
.twitter-share:hover {
	background-color: #55acee;
	border: #55acee solid 1px;
	color: white;
}
.google-share {
	display: inline-block;
	color: #BDC3C7;
	border: #BDC3C7 solid 1px;
	padding: 20px 60px 20px 54px;
	width: 250px;
	text-transform: uppercase;
	text-align: center;
	background-color: white;
	
    -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: .2s;
       -moz-transition-duration: .2s;
         -o-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;	
}
.google-share:hover {
	background-color: #dd4b39;
	border: #dd4b39 solid 1px;
	color: white;
}

@media all and (min-width: 320px) and (max-width: 780px) {
	.share-project {
		display: none;
	}	
}